<%- include('../partials/header')%>
<div class="page-wrapper">
  <div class="container-fluid">
    <h4>Sub-Categories</h4>
    <table class="table text-center table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Image</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% subCategories.forEach((subCategory, index) => { %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td>
              <img src="<%= subCategory.image %>" style="width:60px; height:60px; object-fit:cover; border-radius:8px;" alt="<%= subCategory.name %>">
            </td>
            <td><%= subCategory.name %></td>
            <td>
              <div class="d-flex justify-content-center gap-2">
                <a href="/sub-category/delete/<%= subCategory.id %>" class="btn btn-danger btn-sm">Delete</a>
                <a href="/sub-category/edit/<%= subCategory.id %>" class="btn btn-warning btn-sm">Edit</a>
              </div>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<%- include('../partials/footer')%>
